albumentations==1.1.0
h5py==3.8.0
huggingface-hub==0.13.0
kaleido==0.2.1
mmcv==1.7.1
mmsegmentation==0.30.0
omegaconf==2.3.0
opencv-python-headless==4.7.0.68
opencv-python==4.7.0.68
pypdf2==1.26.0
pytorch-lightning==1.8.6
scikit-learn==1.0.2
segmentation-models-pytorch==0.3.2
timm==0.6.12
torch==1.10.0
torchmetrics==0.10.2
torchvision==0.11.1
Cython
CairoSVG
debugpy
jupyter
nibabel
pandas
plotly
pydicom
seaborn
tabulate
termcolor
wandb